@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style='background:lightblue'>
    <div class="text-center">
        <h1 class="display-4">USPS Package Tracker</h1>
        <p>Keeping track of tracked packages.</p>
    </div>
 </body>
